body {
	padding-top: 70px;
	background: radial-gradient(lightcyan, skyblue, navy);
}

.jumbotron {
	background-image: url("../Background Images/Clothing.jpg");
	background-position: right bottom;
	background-size: 1200px 650px;
	background-repeat: no-repeat;
}

.well {
	width: 65%;
}

.separate {
	width: 100%;
	text-align: center;
	margin-right: 10px;
}

.rounded {
	width: 300px;
	float: left;
	max-height: 100%;
	max-width: 100%
}

.cap {
	margin-left: 310px;
}

.android-specific {
	width: 180px;
	height: 180px;
}

.category-of-project {
	background: radial-gradient(white, #ca7d48 150%);
}