body {
	padding-top: 70px;
	background: radial-gradient(lightcyan, skyblue, navy);
}

.jumbotron {
	background-image: url("luxebo.github.io/Background Images/Clothing.jpg");
	background-position: right bottom;
	background-size: 1200px 650px;
	background-repeat: no-repeat;
}

.well {
	width: 65%;
}

.caption {
	text-align: center;
}

.separate {
	width: 100%;
	text-align: center;
}