body {
	background-image: url("https://static.wikia.nocookie.net/rayaandthelastdragon/images/c/c3/Raya_%26_The_Last_Dragon_Premier_%26_Theater_Poster.jpg/revision/latest?cb=20201210223211");
	background-size: cover;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

.rounded-left {
	width: 300px;
	float: left;
	max-height: 100%;
	max-width: 100%
}

.rounded-right {
	width: 300px;
	float: right;
	max-height: 100%;
	max-width: 100%
}

.left {
	margin-left: 310px;
}

.right {
	margin-right: 310px;
}

.special-img-json {
	width: 1200px;
	height: 200px;
}

.special-bottom-json {
	margin-left: 0px;
	margin-top: 120px;
}