body
{
    margin: 0px;
    overflow-x: hidden;
}

.header
{
	color: #000080;
	text-align: center;
	position: absolute;
	overflow: hidden;
    top: 0px; 
    left: 455px; 
    right: 455px; 
    bottom: 0px; 
    width: 300px;
}

.navbar
{
	background-color: #FFEBCD;
	font-family: sans-serif;
	position: absolute;
	overflow: hidden;
    top: 120px; 
    width: 1300px;
    height: 45px;
    padding-top: 10px;
    padding-left: 100px;
    word-spacing: 6px;
    font-size: 25px;
}

.linker
{
    text-decoration: none;
}

.front
{
	position: absolute;
    top: 225px; 
    left: 100px; 
    right: 100px;  
}

.front-img
{  
    min-width: 1160px;
    min-height: 650px;
    width: 1160px;   
    height: 650px;
    background-image: url("Restaurant.jpg");
  	background-attachment: fixed;
  	background-position: 10px 10px;
  	background-repeat: no-repeat;
  	background-size: 1300px 1000px;
  	display: block;
}

.front-text
{
	color: #FAFAD2;
	position: absolute;
    top: 200px; 
    left: 300px; 
    font-size: 64px;
    width: 1200px;  
}

.front-btn
{
	border: 5px solid black;
	border-style: double;
	background-color: white;
	color: black;
	position: absolute;
    left: 750px;
    top: 350px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    font-size: 18px;
}

.explore
{
	color: #8B008B;
	font-family: cursive;
	text-align: center;
  	text-decoration: underline;
  	text-decoration-style: double;
	position: absolute;
	overflow: hidden;
    top: 875px;
    left: 450px;
    right: 450px;
    width: 550px;
    font-size: 32px;
}

.grid
{
	display: grid;
	grid-template-columns: auto auto;
	position: absolute;
    top: 1000px;
}

.grid-text
{
	margin: 100px;
	width: 430px;
}

.food-title
{
	color: #2D6DB1;
 	font-weight: bold;
	margin-bottom: 0;
}

.food-description
{
	font-weight: 500;
	margin-top: 0;
	padding-top: 0px;
}

.right-side
{
	margin-left: 40px;
	width: 440px;
}

.grid-img
{

}

.grid-img-pink
{
	border: 15px solid #FFE4E1;
	width: 550px;
	height: 400px;
	margin-left: 100px;
	margin-bottom: 50px;
}

.grid-img-blue
{
	border: 15px solid #ADD8E6;
	width: 550px;
	height: 400px;
	margin-bottom: 50px;
}