body {
	padding-top: 70px;
	background-image: linear-gradient(to right, darkgray, rgba(255, 255, 255, 0)), url("../luxebo.github.io/Background Images/Self Portrait.jpg");
	background-repeat: no-repeat, no-repeat;
	background-attachment: fixed, fixed;
	background-position: right, bottom right;
	background-color: lightgray;
}

#text {
	color: navy;
	border-left: slategray 10px solid;
	border-top: slategray 10px solid;
	font-size: 20px;
	margin-right: auto;
	margin-left: 100px;
	width: 40%;
}

#text>p {
	margin: 3%;
	font-family: oswald;
	font-weight: 30;
	font-size: 1.25em;
}

#text>h1 {
	margin-left: 30%;
	color: black;
	font-family: lobster;
	font-size: 2.5em;
}

.btn-primary {
	margin-left: 30%;
	--button-background-color: slategray;
}