body {
	background-image: url("./background.png");
  	background-repeat: no-repeat;
  	background-size: cover;
	font-family: sans-serif;
}

#front>.container>.well>.title {
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
	width: 20%;
}

#front>.container>.well>p {
	font-family: oswald;
	font-size: 20px;
	text-align: center;
}

#front>.container>.well>hr {
	border-top: 1px solid #a5a5a5;
}

.centered {
	text-align: center;
}

.w-75 {
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
	width: 100%;
	height: 500px;
}